.force-wide-design #wrapper {padding: 0px;}

.postrender .postinner > .postuser .background-image::before {background-color: #eee;}

.postrender .postinner > .postuser .background-image::after {background-color: #f1f1f1;}

.threadreplysection{ background-color: #e7e7e7; }

.postblock-read .postrender .postinner > .postuser .background-image::after{background:transparent;}

.drawer-container>.drawer {
    min-width: 30px;
    flex-basis: 30px;
    transition: 0.5s;
    overflow: hidden;
    opacity: 0.25;
}

.drawer-container>.drawer:hover {
    flex-basis: 250px;
    opacity: 1;
}

.drawer-container>.drawer>.drawer-section {
    min-width: 250px;
}

.title {color: #0a0a0a;}

.ql-editor {color: #000;}

.postblock .postfoot .left .votebutton 
    {opacity: 1;} 

.votebutton 
    img { width: 20px; height: 20px;}

.alert-dropdown { padding: .5rem; }

.alert-dropdown .alert-item { margin: 0 -.5rem; }

.baninfo { background-color: #DD0000 !important; color: #FFE7E7; }

.username a { color: #03a9f4 !important; }

.user-gold a { color: #D5A71F !important; }

.user-moderator a { color: #8bc34a !important; }

.user-admin a { color: #b185ff !important; }

.user-banned a { color: #DD0000 !important; }

.userlevel {
    width: 100%;
    text-align: right;
}

.userlevel::after {
    position: absolute;
    top: 0px;
    left: 0px;
    right: auto;
    content: attr(title);
    display: inline-block;
    padding: 2px 6px;
}

span.userlevel {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    left: auto;
    padding: 2px 6px;
    text-shadow: 1px 1px 4px #333;
    font-size: 0.6rem;
    border-radius: 0;
}

.postrender .postinner > .postuser {
    padding: 0px;
}

.postrender .postinner > .postuser .username {
    text-align: center;
    text-shadow: 1px 1px 0px #0009;
    letter-spacing 1px;
    font-weight: bolder;
    padding-bottom: 0.8rem;
    padding-top: 1.7rem;
    top: 0px;
}

