.force-wide-design #wrapper {padding: 0px;}

.postrender .postinner > .postuser .background-image::before {background-color: #eee;}

.postrender .postinner > .postuser .background-image::after {background-color: #f1f1f1;}

.threadreplysection{ background-color: #e7e7e7; }

.postblock-read .postrender .postinner > .postuser .background-image::after{background:transparent;}

.drawer-container>.drawer {
    min-width: 30px;
    flex-basis: 30px;
    transition: 0.5s;
    overflow: hidden;
    opacity: 0.25;
}

.drawer-container>.drawer:hover {
    flex-basis: 250px;
    opacity: 1;
}

.drawer-container>.drawer>.drawer-section {
    min-width: 250px;
}

.title {color: #0a0a0a;}

.ql-editor {color: #000;}

.postblock .postfoot .left .votebutton 
    {opacity: 1;} 

.votebutton 
    img { width: 20px; height: 20px;}

.alert-dropdown { padding: .5rem; }

.alert-dropdown .alert-item { margin: 0 -.5rem; }

.baninfo { background-color: #DD0000 !important; color: #FFE7E7; }

.username a { letterspacing 2px; color: #03a9f4 !important; }

.user-gold a { letterspacing 2px; color: #D5A71F !important; }

.user-moderator a { letterspacing 2px; color: #8bc34a !important; }

.user-admin a { letterspacing 2px; color: #b185ff !important; }

.user-banned a { letterspacing 2px; color: #DD0000 !important; }



